Source: freedcpp
Section: net
Priority: optional
Maintainer: Boris Pek <tehnick@debian.org>
Build-Depends: debhelper (>= 9),
               libboost-dev,
               libbz2-dev,
               libglade2-dev,
               libgnome2-dev,
               libgtk2.0-dev,
               libnotify-dev,
               libssl-dev,
               pkg-config,
               scons
Homepage: http://code.google.com/p/freedcpp/
Vcs-Git: git://github.com/tehnick/freedcpp-debian.git
Vcs-Browser: https://github.com/tehnick/freedcpp-debian
Standards-Version: 3.9.6

Package: freedcpp
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: freedcpp-unstable, linuxdcpp
Conflicts: freedcpp-unstable, linuxdcpp
Description: DC++ client based on LinuxDC++ source code
 FreeDC++ is a program for UNIX-like systems that uses the Direct Connect
 and ADC protocols. It is compatible with DC++, LinuxDC++, EiskaltDC++ and
 other DC/ADC software.
