Source: freedcpp-devel
Section: net
Priority: optional
Maintainer: Boris Pek <tehnick@debian.org>
Build-Depends: debhelper (>= 9),
               libboost-dev,
               libbz2-dev,
               libglade2-dev,
               libgnome2-dev,
               libgtk2.0-dev,
               libnotify-dev,
               libssl-dev,
               pkg-config,
               scons
Homepage: https://github.com/eiskaltdcpp/freedcpp
Vcs-Git: https://github.com/tehnick/freedcpp-debian.git
Vcs-Browser: https://github.com/tehnick/freedcpp-debian
Standards-Version: 4.3.0

Package: freedcpp
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: freedcpp-mediapack
Replaces: linuxdcpp
Conflicts: linuxdcpp
Description: DC++ client based on LinuxDC++ source code
 FreeDC++ is a program for UNIX-like systems that uses the Direct Connect
 and ADC protocols. It is compatible with DC++, LinuxDC++, EiskaltDC++,
 FlylinkDC++ and other DC clients. FreeDC++ also interoperates with all common
 DC hub software.
