#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_build:
	scons release=1 PREFIX=/usr FAKE_ROOT=$(CURDIR)/debian/freedcpp-unstable

override_dh_auto_clean:
	dh_auto_clean

override_dh_auto_install:
	scons release=1 install
	rm -rf $(CURDIR)/debian/freedcpp-unstable/usr/share/doc/freedcpp/

