#!/usr/bin/make -f

%:
	dh $@ --parallel --list-missing

override_dh_auto_build:
	scons release=1 PREFIX=/usr FAKE_ROOT=$(CURDIR)/debian/freedcpp

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build freedcpp

override_dh_auto_install:
	scons release=1 install

