#!/usr/bin/make -f

export DEB_CXXFLAGS_MAINT_APPEND = $(shell dpkg-buildflags --get CPPFLAGS)
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --parallel

override_dh_auto_build:
	scons release=1 PREFIX=/usr FAKE_ROOT=$(CURDIR)/debian/freedcpp

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build freedcpp

override_dh_auto_install:
	scons release=1 install
	rm -rf $(CURDIR)/debian/freedcpp/usr/share/doc/freedcpp/
